article {
    padding: 1rem;
    background-color: #333333;
    color: white;
    margin-bottom: 1rem;
}

article h2 a {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffbf00;
}
article h2 a:hover {
    text-decoration: underline;
    color: #ffbf00;
}

article p {
    font-size: 1.2rem;
}

article small {
    color: #ffbf00;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffbf00;
}

article .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    place-content: end;
}
