{% extends "layout.html" %}

{% block title %}Posts{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<h1>Create new post <a href="/new">create</a></h1>

{% for post in posts %}
    <article>
        <h2><a href="{% url 'posts:details' post.slug %}">{{ post.title }}</a></h2>
        {% comment %} post.banner {% endcomment %}
        <img src="{{ post.banner.url }}" alt="{{ post.title }}" style="height: 12rem;">
        <p
            style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
        >{{ post.body }}</p>
        <p><small>{{ post.date }}</small></p>
    </article>
{% endfor %}
{% endblock %}
